.App {
  text-align: center;
}
.onoma-style {
  background-color: aqua;
  color: red;
  margin-left: 15%;
  width: 67%;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  cursor: default;
}
.onoma-style:hover {
  background-color: red;
  color: aqua;
  transition: all 0.2s ease-in-out;
}
.button-plus-style {
  background-color: aqua;
  transition: all 0.2s ease-in-out;
  margin-left: 32%;
  margin-right: 10%;
  cursor: pointer;
}
.button-plus-style:hover {
  background-color: red;
  transition: all 0.2s ease-in-out;
}
.button-minus-style {
  background-color: aqua;
  transition: all 0.2s ease-in-out;
  margin-right: 40%;
  cursor: pointer;
}
.button-minus-style:hover {
  background-color: red;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.counter-style-0 {
  background-color: red;
}
.counter-style-1 {
  background-color: white;
}
.body {
  background-color: black;
}
.white {
  color: rgb(255, 255, 255);
}
.image {
  margin-left: 25%;
}
